html {

}

header {
    background-color: #e2e2e2;
    border-bottom: 5px solid #c43723;
    margin-bottom: 20px;
}
header .navbar {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
header .navbar-inverse {
    background-color: transparent;
    border: 0;
}
header #logo {
    height: 15%;
    width: 15%;
}

.me{
    font-size: 12px;
    padding: 5px;
    padding-left:10px;
    background-color: rgb(239, 255, 241);
    border-width:0 50px 0 0;
    border-style: solid;
    border-image: url('https://image.freepik.com/free-icon/male-user-silhouette_318-35708.jpg') 0% 100% stretch;
}

.you{
    font-size: 12px;
    padding: 5px;
    padding-left:10px;
    background-color: rgb(247, 247, 214);
    border-width:0 0 0 50px;
    border-style: solid;
    border-image: url('http://www.freeiconspng.com/uploads/robot-icon-4.png') 0% 100% stretch;
}
.panel-primary{
    width: 500px;
}

.panel-body {
    height: 800px;
    width: 500px;
}
#conversation{
    float:left;
    height: 700px;
    width:100%;
    overflow-y: scroll;
}
#textInput{
    clear: left;
    height: 100%;
    width: 90%;
}
#chatBox {
    max-height: 800px;
    font-size: 9pt;
    font-family: "Trebuchet MS";
}
#textAreaInput {
    width: 70%;
    height:95%;
}
#botText {
    width: 400px;
}
#chat{
    float: left;
}
#history {
    clear:left;
}