<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.4.js"></script>
    <script src="app/appCont.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="app1" ng-init="openMsg = {msg : 'Hi, how can I help you today?'}">
<div class="panel-body">
    <div ng-controller="contentController as contentCtrl">
        <p>{{openMsg.msg}}</p>
        <div pa

        <div ng-repeat="m in messages" class="clearfix">
            <blockquote  ng-class="{'me pull-right': m.sender=='user', 'you pull-left' : m.sender=='bot'}">{{m.text}}</blockquote>
        </div>

        <input type="text" ng-model="userMsg"/>
        <button ng-click="recieveMsg()">Recieve</button>

        <input type="text" ng-model="botMsg"/>
        <button ng-click="sendMsg()">Send</button>

    </div>

    <!--<div class="clearfix"><blockquote class="me pull-right">Hi</blockquote></div>-->
    <!--<div class="clearfix"><blockquote class="you pull-left">Hello</blockquote></div>-->
</div>
</body>
</html>