<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.4.js"></script>
    <script src="app/appCont.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body >

<div class="container" ng-app="OSHack" ng-init="openMsg = {msg : 'Hi, how can I help you today?'}">
    <header>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
            <div class="container">
                <img src="images/openstack-logo.png" id="logo">
            </div>
        </nav>
    </header>
    <div class="container" ng-controller="contentController as contentCtrl">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading"><b> Ask me </b> <small class="pull-right">online</small></div>
                    <div id="chatBox" class="panel-body">
                        <div>
                            <!--<p>{{openMsg.msg}}</p>-->
                            <div id="conversation">
                                <div ng-repeat="m in messages" class="clearfix">
                                    <blockquote  ng-class="{'me pull-right': m.sender=='user', 'you pull-left' : m.sender=='bot'}">
                                        {{m.text}}</blockquote>
                                </div>
                            </div>
                            <div id="textInput">
                                <input type="text" ng-model="userMsg"/>
                                <button ng-click="recieveMsg()">Recieve</button>

                                <input type="text" ng-model="botMsg"/>
                                <button ng-click="sendMsg()">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>



<!--<iframe src="content.html" name="targetframe" allowTransparency="true" scrolling="yes" frameborder="0" >-->
<!--</iframe>-->